apiVersion: image.toolkit.fluxcd.io/v1beta1
kind: ImageUpdateAutomation
metadata:
  name: documentation-site-dev
  namespace: flux-system
spec:
  interval: 1m
  sourceRef:
    kind: GitRepository
    name: documentation-site
  git:
    checkout:
      ref:
        branch: develop
    commit:
      author:
        email: fluxcdbot@users.noreply.github.com
        name: fluxcdbot
      messageTemplate: |
        chore(dev): update image to {{range .Updated.Images}}{{println .}}{{end}}

        Automated image update by Flux
    push:
      branch: develop
  update:
    path: ./flux/dev
    strategy: Setters
